<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Team</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true" showcancelbutton="" (ionChange)="filterUSer($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="checkAuthority('USER_MGMT_ALL_API')" (click)="showCreateTeamModal()">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-item *ngFor="let user of users | filter: textToSearch; let i= index" (click)="userSelected(user)" class="sdrc-cursor-pointer">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{ user.name }}</ion-label>
    </ion-item>
</ion-content>
