<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/issue-register"></ion-back-button>
    </ion-buttons>
    <ion-title>{{item.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Id: {{item.id}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Item Id: {{item.itemId}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Name : {{item.name}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Accessories : {{item.accessories}}
    </ion-label>
  </ion-item>
  <ion-button expand="full" (click)="assign()" *ngIf="checkAuthority('ITEM_ALL_OPERATION')">Assign</ion-button>
  <ion-button expand="full" (click)="return()" *ngIf="checkAuthority('ITEM_ALL_OPERATION')">Return</ion-button>
  <ion-button expand="full" (click)="status()">Status</ion-button>
  <ion-button expand="full" (click)="history()">History</ion-button>
  <ion-button expand="full" (click)="edit()" *ngIf="checkAuthority('ITEM_ALL_OPERATION')">Edit</ion-button>
  <ion-button expand="full" (click)="delete()" *ngIf="checkAuthority('ITEM_ALL_OPERATION')">Delete</ion-button>
</ion-content>
