<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Assignment Status</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Issue Date: {{assignModel.issueDate}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-label>Issued To :  {{assignModel.assignedTo}}</ion-label><br/>
        <ion-label>Issued By :  {{assignModel.issuedBy}}</ion-label><br/>
      </ion-card-content>
    </ion-card>

</ion-content>
